DJANGO_SECRET_KEY='Secret_Key'
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=shophub
DB_USER=user_name
DB_PASSWORD=DB_User_password
DB_HOST=localhost
DB_PORT=5432

DB_CONN_MAX_AGE=60
DB_CONNECT_TIMEOUT=5

REDIS_URL=redis://127.0.0.1:6379/0

CELERY_BROKER_URL=redis://127.0.0.1:6379/1

CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/2

EMAIL_HOST_USER=example@mail.com
EMAIL_HOST_PASSWORD=PASSWORD