# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
venvDj/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db