<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopHub</title>
</head>
<body>
    <h1>Welcome to ShopHub</h1>
    <p>This is our e-commerce website.</p>
    {% if user.is_authenticated %}
      <h3>Welcome {{ user.username }}</h3>

      <a href="{% url 'change_password' %}">Change Password</a>

      <form method="post" action="{% url 'logout' %}" style="display: inline;">
         {% csrf_token %}
         <button type="submit" class="btn btn-danger">Logout</button>
      </form>

    {% else %}
      <h3>Please Login</h3>

      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
      <a href="{% url 'password_reset' %}">Reset Password</a>
    {% endif %}
    <hr>
    
    <h2>
        Products
        {% if perms.products.add_product %}
            <button style="margin-left: 54px;"><a href="{% url 'product_form' %}" target="_blank"> Add Product</a></button>
        {% endif %}
    </h2><hr>
    <!-- SEARCH FORM -->
    <form method="GET" action="{% url 'home' %}" style="margin-bottom: 20px;">
        <!-- We set the value to request.GET.q so the user's search term stays in the input box after the page reloads -->
        <input type="text" name="q" placeholder="Search products by name..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>
    <div style="margin-bottom: 20px;">
    <strong>Filter by Category:</strong>
      <a href="?category=Mobile Phones">Mobile Phones</a> | 
      <a href="?category=Electronics">Electronics</a> |
      <a href="?category=Laptops">Laptops</a> |
      <a href="?category=TV">TV</a> |
      <a href="{% url 'home' %}">Clear Filters</a>
    </div>
    <hr>
    {% for item in products %}
        <p>{{item.id}}. 
            {% if item.image %}
             <img src="{{item.image.url}}" alt="{{item.name}}" width="200" title="iPhone">
            {% endif %}
        </p>
        <p>{{ item.name }} </p>
        <p>Category:</p>
        <ul>
        {% for c in item.categories.all %}
           <p>-{{c.name}}</p>
        {% endfor %}
        </ul>
        <p>Price: Rs.{{ item.price }} </p>
        <a href="{% url 'product_detail' item.pk %}" target="_blank">Details</a>        
        {% if perms.products.change_product and item.owner == user %}
            <button ><a href="{% url 'edit_product' item.pk %}" >Edit</a></button>
            <button><a href="{% url 'delete_product' item.pk %}">Delete</a></button>
        {% endif %}
    {% endfor %}
    <hr>
    <div class="pagination">
      <span class="step-links">
        <!-- If there is a previous page, show First and Previous buttons -->
        {% if page_obj.has_previous %}
            <a href="?category={{ request.GET.category}}&q={{ request.GET.q}}&page=1">&laquo; First</a>
            <a href="?category={{ request.GET.category}}&q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}" >Prev..</a>
        {% endif %}

        <!-- Current page indicator -->
        <span class="current" style="margin: 0 15px; font-weight: bold;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        <!-- If there is a next page, show Next and Last buttons -->
        {% if page_obj.has_next %}
            <a href="?category={{ request.GET.category}}&q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">Next</a>
            <a href="?category={{ request.GET.category}}&q={{ request.GET.q}}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
     </span>
    </div>

</body>
</html>
