<!DOCTYPE html>
<html>
<head>
    <title>ShopHub</title>
</head>
<body>
    <h1>Welcome to ShopHub</h1>
    <p>This is our e-commerce website.</p>
    {% if user.is_authenticated %}
      <h3>Welcome {{ user.username }}</h3>

      <a href="{% url 'change_password' %}">Change Password</a>

      <form method="post" action="{% url 'logout' %}" style="display: inline;">
         {% csrf_token %}
         <button type="submit" class="btn btn-danger">Logout</button>
      </form>

    {% else %}
      <h3>Please Login</h3>

      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
      <a href="{% url 'password_reset' %}">Reset Password</a>
    {% endif %}
    <hr>
    
    <h2>
        Products
        {% if perms.products.add_product %}
            <button style="margin-left: 54px;"><a href="{% url 'product_form' %}" target="_blank"> Add Product</a></button>
        {% endif %}
    </h2><hr>
    {% for item in products %}
        <p>{{item.id}}. 
            {% if item.image %}
             <img src="{{item.image.url}}" alt="{{item.name}}" width="200" title="iPhone">
            {% endif %}
        </p>
        <p>{{ item.name }} </p>
        <p>Category:</p>
        <ul>
        {% for c in item.categories.all %}
           <p>-{{c.name}}</p>
        {% endfor %}
        </ul>
        <p>Price: Rs.{{ item.price }} </p>
        <a href="{% url 'product_detail' item.pk %}" target="_blank">Details</a>        
        {% if perms.products.change_product and item.owner == user %}
            <button ><a href="{% url 'edit_product' item.pk %}" >
            Edit
            </a></button>
        {% endif %}
    {% endfor %}

</body>
</html>
